# Cf. Example using yarn
# https://help.github.com/en/actions/language-and-framework-guides/using-nodejs-with-github-actions#example-using-yarn
# Cf. Using CI
# https://help.github.com/en/actions/reference/workflow-commands-for-github-actions

on: [push, pull_request]
name: On push or pull_request
jobs:
  deploy:
    name: deploy
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '8.x'
    - name: install Docusaurus and generate file of English strings
      run: cd website && yarn install && yarn run write-translations && cd ..
    - name: crowdin install
      run: |
        sudo apt-get install default-jre
        wget https://artifacts.crowdin.com/repo/deb/crowdin.deb -O crowdin.deb
        sudo dpkg -i crowdin.deb
    - name: translations upload/download
      run: |
        crowdin --config crowdin.yaml upload sources --auto-update -b master
        crowdin --config crowdin.yaml download -b master
      env:
        CROWDIN_DOCUSAURUS_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
        CROWDIN_DOCUSAURUS_API_KEY: ${{ secrets.CROWDIN_API_KEY }}
    - name: setup git config
      if: github.ref == 'refs/heads/master'
      run: |
        git config --global user.email "chore@noreply.babydegu.com"
        git config --global user.name "chore"
        echo "machine github.com login ${GITHUB_ACTOR} password ${{ secrets.GITHUB_TOKEN }}" > ~/.netrc
    - name: build and publish website
      if: github.ref == 'refs/heads/master'
      run: cd website && GIT_USER=${GITHUB_ACTOR} yarn run publish-gh-pages
